body {
    font-family: "Texturina", cursive;
    background-color: #ffcccc;
}

#menu, #menu ul {
    background-color: #ff6666;
}

#menu a {
    color: #fff;
}

.dropdown-item:hover {
    background: #ff9999;
}

.navbar-toggler-icon {
    color: #fff;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card {
    padding-left: 0;
    padding-right: 0;
    width: 200px;
    margin: 15px;
}